@media (min-width: 380px) and (max-width: 1023px){
    * {
        padding: 10px;
    }

    .contenedor {
        display: grid;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer"
        ;
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-around;
        
        li a {
            font-size: larger;
        }
    }

    main {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 10px;
    }

    footer {
        background-color: $color_footer_principal;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
    }

    .img_us {
        width: 40%;
        height: auto;
    }

    .img_job{
        width: 40%;
        height: auto;
    }

    .pack-servicios {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .job_container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 10px;
    }
}

@media (min-width: 1024px) {
    * {
        padding: 0px;
    }

    .contenedor {
        display: grid;
        grid-template-areas:
            "header nav"
            "main main"
            "footer footer"
        ;
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-flow: nowrap row;
        justify-content: right space-between;
    }

    main {
        background-color: $color_main_principal;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    nav ul li {
        margin: 10px;
    }

    nav ul li a {
        font-size: larger;
    }

    footer {
        background-color: $color_footer_principal;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }

    .img_us {
        height: 25vw;
    }

    .img_job{
        height: 300px;
        width: 500px;
    }

    .pack-servicios {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    .job_container{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        padding: 10px;
    }
}